@import "../index.css";

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.rcp-Grid {
  width: auto;
  margin: 0 auto;
}

  @media (--viewport-min-s) {
  	.rcp-Grid {
      width: 30rem;
    }
  }

  @media (--viewport-min-m) {
  	.rcp-Grid {
      width: 50rem;
    }
  }


.rcp-Grid-cell {
  border: 1px solid red;
  background: #f0f0f0;
}
