:root {
  --cssr-Grid-baseFontSize: 1rem;
  --cssr-Grid-baseFontSizeFallback: 16px;
  --cssr-Grid-gutter: 1rem;
}

.cssr-Grid {
  display: block;
  font-size: 0; /* whitespace control */
  padding: 0;
  margin: 0;
}
  /* Modifier --withGutter */
  .cssr-Grid--withGutter { margin: 0 calc(-0.5 * var(--cssr-Grid-gutter)) }

    .cssr-Grid--withGutter > .cssr-Grid-cell { padding: 0 calc(0.5 * var(--cssr-Grid-gutter)) }
    
  .cssr-Grid-cell {
    display: inline-block;
    vertical-align: top;
    font-size: var(--cssr-Grid-baseFontSize, var(--cssr-Grid-baseFontSizeFallback));
    width: 100%;
    padding: 0;
  }


    .cssr-Grid-cell--alignTop {vertical-align: top }
    .cssr-Grid-cell--alignMiddle {vertical-align: middle }
    .cssr-Grid-cell--alignBottom {vertical-align: bottom }
