@import "./lib/base.css";

.r-Grid {
  display: block;
  font-size: 0; /* whitespace control */
}
  .r-Grid-cell {
    display: inline-block;
    vertical-align: top;
  }


    .r-Grid-cell--alignTop {vertical-align: top }
    .r-Grid-cell--alignMiddle {vertical-align: middle }
    .r-Grid-cell--alignBottom {vertical-align: bottom }
